*.qpf
*.qsf
*.bak
*.tcl
*.qsys
*.sopcinfo
PLLJ_PLLSPE_INFO.txt
*.sdc
*.pdf
*.qws
Aud*
I2c*
Rsa*
/.qsys_edit
/db
/incremental_db
/output_files
/qsys
/src/AI_python
/src/img
INCA_libs
nWaveLog
*.fsdb
*.log
novas*